.footer {
    background-color: #254e5f;
    padding: 40px 0 40px 0;

    & hr {
        width: 100%;
        height: 1px;
        border: none;
        background-color: #fff;
        margin: 10px 0 30px 0;
    }

    &__social {
        display: flex;
        margin-bottom: 30px;

        & a {
            margin-right: 10px;
            transition: opacity 0.5s;

            &:hover {
                opacity: 0.7;
            }
        }
    }



    &__text {
        font-family: Roboto;
        font-size: 20px;
        color: #FFFFFF;
        margin-bottom: 30px;
        transition: opacity 0.5s, color 0.5s;
        display: block;

        &_mini {
            font-size: 12px;
            margin-bottom: 10px;
            color: #fff;
        }
    }

    &__link {
        font-size: 12px;
        margin-bottom: 10px;
        color: #fff;
        text-decoration: underline;

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }

    &__title {
        font-family: Roboto;
        font-size: 32px;
        font-weight: normal;
        line-height: 1.44;
        color: #ffffff;
    }

    &__input-container {
        display: flex;
        align-items: center;

        & input {
            width: 370px;
            height: 48px;
            padding: 0 30px;
            border-radius: 3px 0 0 3px;
            background-color: #ffffff;
            font-family: Roboto;
            font-size: 14px;
            line-height: 1.43;
            color: #6d7783;
            border: none;

            @media only screen and (max-width: 640px) {
                width: 100%;
            }
        }

        & button {
            width: 48px;
            height: 48px;
            border-radius: 0 3px 3px 0;
            background-color: #f5a623;
            border: none;
        }
    }

    &__simpletext {
        font-family: Roboto;
        font-size: 16px;
        font-weight: normal;
        line-height: 2.88;
        color: #ffffff;
    }

    &__feedback-input {
        width: 370px;
        height: 48px;
        border-radius: 2px;
        background-color: #ffffff;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.43;
        color: #6d7783;
        border: none;
        margin-bottom: 25px;
        padding: 0 30px;

        @media only screen and (max-width: 640px) {
            width: 100%;
        }
    }

    &__feedback-button {
        width: 246px;
        height: 48px;
        border-radius: 3px;
        background-color: #4ba1a5;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
        border: none;
        transition: opacity 0.5s;
        cursor: pointer;

        @media only screen and (max-width: 640px) {
            width: 100%;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    & .col-md-1 {
        @media only screen and (max-width: 768px) {
            margin: 55px 0;
        }
    }
}



a.footer__text {
    text-decoration: none;
    

    &:hover {
        opacity: 0.7;
        color: #FFFFFF;
        text-decoration: none;
    }
}